body{
    background-color: navy;
}

#title{
    color: white;
}

#instructions{
    background-color: red;
    color: white;
    padding: 20px;
}

.btn{
    background-color:red;
    padding: 10px;
}

#countdown{
    color: white;
}

#quiz{
    color: white;
}

#score{
    color: white;
    font-size: 20px;
}

#scoreTitle{
    color: white;
    font-size: 20px;
}




